################################################################################
# POE::Component::IRC spawn settings. Multiple bots can be specified as lists
# with subhashes.
#
# `for_poe` options are sent to POE::Component::IRC, anything else is an
# internal configuration value.
#
# Available options:
# http://search.cpan.org/~bingos/POE-Component-IRC-6.88/lib/POE/Component/IRC.pm#spawn
#
# Required options:
# Server, Port, Nick
connections:
    -
        for_poe:
            Server:   irc.somewhere.org
            Port:     6697
            Nick:     MetalBot1
            Username: MetalBot1
            Ircname:  MetalBot1
            UseSSL:   1
            debug:    1
        join_channels: 1

################################################################################
# Channels to join on start-up
default_channels:
    - '##metalbot-test'

################################################################################
# Core::Connection should always be last due to potentially disconnecting
# bots from the network.
# Modules live in the Metal::Module namespace and custom ones should be
# added to the list below:
modules:
    - Core::Ping
    - Core::Connection

################################################################################
# States caught by POE, for example IRC numeric events (irc_n) or custom
# signals sent from modules (from the list above) are handled by these
# classes.
#
# "External"       - Events sent from the IRC network
# "Internal"       - Events sent from inside the bot
# "Internal::Task" - Scheduled events (cronlike)
handlers:
    irc:          External::IRC
    message:      External::Message
    channel:      Internal::Channel
    #example_task: Internal::Task::Example

################################################################################

